@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {

    font-family: "Lato";
    font-size: 16px;
    text-decoration: none;
    
}



.navbar {

    background-color: #131114;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

    top: 0;
    z-index: 999;
 
}

.navbar__container{

    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 100;
    width: 100%;
  
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    
}

.navbar__menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    

}


.navbar__toggle{
        
    z-index: -1;
}


.navbar__logo {

    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 50px;
    height: auto;
    min-width: 50px;
    
    padding-left: 0;
    cursor: pointer;

    

}

.navbar__item {
    
    height: 80px;

}

.navbar__links {

    color: #f84d36;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 2rem;
  height: 100%;
   margin-left: 0px;
}

.navbar__btn {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.buttonNav {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 7px 14px;
    border: none;
    outline: none;
    background: #ff462e;
    border-radius: 4px;
    
    color: white;
    
}

.buttonNav:hover {
    
    transition: all 0.3s ease;
    background: #cf1059;
    
}

.button {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
    border: none;
    outline: none;
    background: #ff462e;
    border-radius: 4px;
    
    color: white;
    
}

.button:hover {
    display: inline-block;
    transition: all 0.3s ease;
    background: #cf1059;
    cursor: pointer;    
    
}

.navbar__links:hover {


    color: #cf1059;
  transition: all 0.3s ease;
}

#Logo__IMG {

    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    
}



@media screen and (max-width: 769px) {

    .navbar__container {

        display: flex;
        justify-content: space-between;
        height: 4%;
        z-index: 100;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {

      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1; 
      height: 50vh;
      z-index: 1;
      background: linear-gradient(to top right, #0d0912 ,#36091010);
      transition: all 1s ;
    }

    .navbar__menu.activated {

        background: linear-gradient(to bottom, #0d0912 30%,#360910);
        top: 100%;
        opacity: 1;
        transition: all 1s;
        z-index: -1;
        height: 400px;
        font-size: 2rem;
    }

    .navbar__logo{
        
        padding-top: 0.8%;
        z-index: 100;
        margin-bottom: 0.8%;
        margin-left: 1%;
    }

    .bar { z-index: 3000;}

    .navbar__toggle .bar{

        
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background:linear-gradient(to right, #ff462e, rgb(255, 147, 84));
        z-index: 10;
    }

    .navbar__toggle{

        
        position:absolute;
        z-index: 10;
    }

    

    .navbar__item {

        width: 100%;

    }

    .navbar__links{

        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {

        position: absolute;
        top:20%;
        right: 5%;
        transform: translate(5%, 20%);
        z-index: 10;
    }

    .navbar__btn {

        padding-bottom: 2rem;

    }

    .buttonNav {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 8px;
        margin: 0;
        padding: 20px 30px;
    }

    .navbar__toggle .bar {
        
        display: block;
        cursor: pointer;
        z-index: -1;
    }


}